.bannerBgImage{
    background-image: url('../images/bg-banner-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.bannerText{
    color: black;
}
@media screen and (max-width: 768px) {
  .bannerText{
    color: white !important;
  }
}