.bannerBgImage{
    background-image: url('../images/bg-banner-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card-border-end{
    border-right: 2px solid rgb(207, 200, 200) !important;
}
@media (max-width:568px){
  .bannerBgImage{
    background-image: url('../images/bg-banner-image-small.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-end-end-radius: 10%;
    border-end-start-radius: 10%;
    
}

.card-border-end{
    border-right: none !important;
    border: none !important;
}
.bannerBgImage{
    height: 65% !important;
}
}
.bannerText{
    color: black;
}
.banner-button{
    background-color: #ed9c1f;
    color: white;
}
select{
  color: var(--text-color);
}
.card-overlay {
  position: relative;
  top: -20px;
  z-index: 10;
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
@media (max-width:568px) {

.card-overlay {
    position: relative;
    top: -120px;
    z-index: 10;
    color: var(--text-color);
    border: 1px solid var(--border-color);
  }
}
@media (min-width: 768px) {
.card-overlay {
    position: relative;
    top: -70px;
    z-index: 10;
    color: var(--text-color);
    border: 1px solid var(--border-color);
  }
}
